@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Sderot Ben-Gurion 10
    <br />
    Tel-Aviv<br />
    <abbr>Phone:</abbr>
    1800-123-456
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@gmail.com">Support@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@gmail.com">Marketing@gmail.com</a>
</address>